
@import 'partials/variables';
.custom-class{
    background-color:white;
    opacity: 0.8;
    height: 100px;
    padding-top: 20px;
    .banner-logo{
        color: rgb(135, 40, 158);
        font-size: 50px;
        font-family: $primaryFont;
    }
    .banner-text{
        color: rgb(181, 46, 214);
        font-size: 30px;
        font-family: $secondaryFont;
    }
}
.banner{
    height: 100vh;
    width: 100%;
    .dummy-img{
        height: 100%;
        width: 100%;
        background-image: url(../img/banner.jpg);
        background-position: center;
    }
}
// .cards-container{
//     width: 100%;
//     height:500px;
//     .card-content{
//         border: solid 2px black;
//         width: 30%;
//         height: 80%;
//         float: left;
//         margin-right: 1%;
//         margin-top: 2%;
//         margin-left: 2%;
//         margin-bottom: 2%;
//     }
// }

.cards-container {
    padding: 10px 10px;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .card-content {
       height: 100%;
       width: 100%; 
       border: 1px solid black;
       grid-template-rows: repeat(2, 1fr);

       .content-img{
         position: center;
           height: 50%;
           width: 50%;
           border-radius: 50%;
       
       }
       .content-text{

       }

        #card-img1{
            background-image: url(../img/bunny.jpg);
            background-position: center;
        }
         #card-img2{
            background-image: url(../img/moon.jpg);
            background-position: center;
           
        }
        #card-img3{
            background-image: url(../img/planes.jpg);
            background-position: center;
           
        }
    }
}